body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: royalblue;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav {
    grid-column: 2/3;
}

nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 640px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    main h1 {
        grid-column: 1/2;
    }

    figure img {
        width: 200px;
    }
}