@media screen and (min-width: 500px) {
    header {
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h1 {
        grid-column: 1/4;
        text-align: center;
    }

    figure img {
        width: 400px;
    }
}